@import url("images.css");
@import url("text.css");
@import url("presentation.css");

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgb(203, 159, 15), rgb(215, 111, 37));
}

body::-webkit-scrollbar {
    display: none;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}